<ion-header>
  <ion-navbar color="white">
      <ion-buttons left>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Profil</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div class="top">
          <img src="assets/images/logo.jpg" >
    </div>
    <ion-list>
      <ion-item tappable (click)="setEmail()">
        Endre epost
      </ion-item>
      <ion-item tappable (click)="setPassword()" *ngIf="user && user.provider == 'Firebase'">
        Nytt passord
      </ion-item>
      <ion-item tappable (click)="deleteAccount()">
        Slett Konto
      </ion-item>
      <ion-item tappable (click)="logout()">
        Logg ut
      </ion-item>
    </ion-list>
  </div>
</ion-content>
