<ion-header>
  <ion-navbar color="white">
    <ion-title>Info</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Group Info -->
  <div *ngIf="group">
    <div class="top">
        <h3 tappable (click)="setName()">{{group.name}}</h3>
        <p tappable (click)="setDescription()">{{group.description}}</p>
    </div>
    <ion-list *ngIf="groupMembers">
      <ion-list-header>
        Deltakere ({{groupMembers.length}})
      </ion-list-header>
      <ion-item (click)="addMembers()">
        <ion-icon name="add" item-left></ion-icon>
        <h2>Legg til deltakere</h2>
      </ion-item>
      <ion-item *ngFor="let member of groupMembers" (click)="viewUser(member.$key)">
        <ion-avatar item-left>
            <img src="assets/images/logo.jpg" >
        </ion-avatar>
        <h2>{{member.name}}</h2>
        <p>{{member.description}}</p>
      </ion-item>
    </ion-list>
    <ion-list-header>
        Mer
    </ion-list-header>
    <ion-list style="text-align: center;">  
      <ion-item no-lines tappable (click)="leaveGroup()" *ngIf="groupMembers && groupMembers.length > 1">
        Forlatt gruppen
      </ion-item>
      <!-- When there's only one member left, allow deleting of group. -->
      <ion-item no-lines tappable (click)="deleteGroup()" *ngIf="groupMembers && groupMembers.length <= 1">
        Slett gruppen
      </ion-item>
    </ion-list>
  </div>
</ion-content>